.login-container {width: 980px; margin: auto; margin-bottom: 150px;}
.login-title {font-size: 30px; font-weight: bold; text-align: center; margin-top: 150px; margin-bottom: 100px;}
.login-container-wrap {background: rgb(90,199,255,.05); border-radius: 40px; box-shadow: 3px 0 rgb(0 0 0 / 7%); padding: 50px 25px 100px 25px;}
.login-wrap {border: 1px solid #ccc;width: 100% !important; padding-top: 40px;}
.login-wwrap {display: flex; justify-content: space-between; align-items: center; width: 500px; margin: auto;}
.login-wwwrap .login-group {padding: 10px 0; display: flex; align-items: center;}
.login-wwwrap .login-group label {font-size: 18px; font-weight: bold; width: 100px; display: block;}
.login-wwwrap .login-group input {border: 1px solid #ccc; width: 250px; height: 45px; border-radius: 4px;}
.login-button {font-size: 18px; font-weight: bold; padding: 38px; background-color: #816ddd; border-radius: 4px;}
.login-button .login-submit {background-color: inherit; color: #fff; font-size: 18px; font-weight: bold;}
.button-group {border-top: 1px solid #ccc; padding: 40px 0; margin-top: 40px; display: flex; justify-content: center; align-items: center; background: #F6F5FA;}
.button-group button {border: 2px solid #8195df; background-color: #fff; border-radius: 4px; width: 150px; height: 40px;}
.button-group button:hover {background-color: #8195df; color: #fff; transition: all 0.2s;}
.button-group button:nth-child(2) {margin: 0 20px;}

.register-content .register-group label {font-size: 18px; position: relative;}
.register-content .register-group label:after {content: '*'; color: red; position: absolute; top: -2px; right: -12px;}
.register-content .register-group .input-group {width: 100%; border: 1px solid #ccc; display: flex; justify-content: space-between; align-items: center; margin-top: 15px; margin-bottom: 20px;}
.register-content .register-group .input-group input {height: 50px;}
.duplicate-check button {padding: 10px 20px; background-color: #333; border-radius: 4px; color: #fff; margin-right: 5px;}
.register-condition .register-condition-title {font-size: 18px; margin-top: 20px; margin-bottom: 15px;}
.register-condition .condition-text {background-color: #f2f2f2; border-radius: 2px; width: 100%; height: 200px;}
.register-submit {width: 100%; background-color: #816ddd; border-radius: 4px; padding: 10px 0; margin-top: 25px; color: #fff;}
.register-submit:hover {color: #ccc; transition: all 0.2s;}