<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/subpage.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div id="container">
        <header class="header-container">
            <div class="header-wrap">
                <div class="util">
                    <ul class="util-left">
                        <a href="#">
                            <li>노래방 플레이어 다운</li>
                        </a>
                        <a href="#">
                            <li>키싱 이용안내</li>
                        </a>
                        <a href="#">
                            <li>고객센터</li>
                        </a>
                    </ul>
                    <ul class="util-right">
                        <a href="#">
                            <li>로그인</li>
                        </a>
                        <a href="#">
                            <li>회원가입</li>
                        </a>
                    </ul>
                </div>
                <div class="logo-search">
                    <div class="logo">
                        <a href="/index.html">
                            <h1>
                                <img src="/static/images/kysing.png">
                            </h1>
                        </a>
                    </div>
                    <div class="search">
                        <input type="text" class="search-input">
                        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">KY 차트</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">PICK</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">KY CONTENTS</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">반주곡 검색</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">이용권 구매</a></li>
                        <li><a href="#">마이페이지</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main class="main-container">
            <form action="/account/login" method="post">
                <div class="login-container">
                    <h1 class="login-title">로그인</h1>
                    <div class="login-container-wrap">
                        <div class="login-wrap">
                            <div class="login-wwrap">
                                <div class="login-wwwrap">
                                    <div class="login-group">
                                        <label for="login-username">아이디</label>
                                        <input type="text" id="login-username" class="login-inputs" name="username" required>
                                    </div>
                                    <div class="login-group">
                                        <label for="login-password">비밀번호</label>
                                        <input type="password" id="login-password" class="login-inputs" name="password" required>
                                    </div>  
                                </div>
                                <div class="login-button">
                                    <button type="submit" class="login-submit">로그인</button>
                                </div>
                            </div>
                            <div class="login-error">
                            </div>
                            <div class="button-group">
                                <button type="button" class="fyid-button" onclick="location.href='/account/fyid';">아이디 찾기</button>
                                <button type="button" class="fypw-button" onclick="location.href='/account/fypw';">비밀번호 찾기</button>
                                <button type="button" class="register-button" onclick="location.href='/account/register';">회원가입</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>        

        <footer>
            <div class="footer-wrap">
                <div class="footer-top">
                    <ul>
                        <a href="#">
                            <li>반주곡신청</li>
                        </a>
                        <a href="#">
                            <li>고객센터</li>
                        </a>
                        <a href="#">
                            <li>원격제어</li>
                        </a>
                        <a href="#">
                            <li>이용약관</li>
                        </a>
                        <a href="#">
                            <li>개인정보 취급방침</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <ul class="fbl-infor">
                            <li>사업자번호 : 221-88-00319 통신판매업신고 : 제 2019-서울용산-0025 호</li>
                            <li>주소 : 서울시 용산구 한강대로 31(한강대로31, 40-17)</li>
                            <li>팩스 : 02-6390-2554 고객지원센터 : 02-6390-2550</li>
                            <li>EMAIL : jmchoi@kyentertainment.kr</li>
                        </ul>
                        <p>KYSing 웹사이트 내에서의 이메일 무단 수집을 거부합니다.</p>
                        <p>Copyright ⓒ 2020 금영엔터테인먼트 CO.,LTD.</p>
                    </div>
                    <div class="footer-bottom-right">
                        <div class="fbr-logo">
                            <img src="/static/images/f_logo.png">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>
