<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playlist</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/subpage.css">
    <link rel="stylesheet" href="/static/css/chart.css">
</head>
<body>
    <div id="container">
        <header class="header-container">
            <div class="header-wrap">
                <div class="util">
                    <ul class="util-left">
                        <a href="#">
                            <li>노래방 플레이어 다운</li>
                        </a>
                        <a href="#">
                            <li>키싱 이용안내</li>
                        </a>
                        <a href="#">
                            <li>고객센터</li>
                        </a>
                    </ul>
                    <ul class="util-right">
                        <a href="#">
                            <li>로그인</li>
                        </a>
                        <a href="#">
                            <li>회원가입</li>
                        </a>
                    </ul>
                </div>
                <div class="logo-search">
                    <div class="logo">
                        <a href="/index.html">
                            <h1>
                                <img src="../static/images/kysing.png">
                            </h1>
                        </a>
                    </div>
                    <div class="search">
                        <input type="text" class="search-input">
                        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">KY 차트</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">PICK</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">KY CONTENTS</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">반주곡 검색</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">이용권 구매</a></li>
                        <li><a href="#">마이페이지</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub-1</a></li>
                                <li><a href="#">Sub-2</a></li>
                                <li><a href="#">Sub-3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div class="subpage">
            <div class="subpage-sidemenu">
                
                <h3>마이페이지</h3>
                <ul>
                    <li><a href="">내 노래방</a></li>
                    <li><a href="">웹 애창곡</a></li>
                    <li class="on"><a href="">플레이리스트</a></li>
                    <li><a href="">내 쿠폰함</a></li>
                    <li><a href="">이용권 결제 내역</a></li>
                    <li><a href="">내 정보 관리</a></li>
                </ul>
            </div>
    
            <div class="subpage-content">
                <div class="subpage-content-title">
                    <h2>KY 차트</h2>
                </div>
                <div class="subpage-content-ex">
                    <ul class="playlist-ex">
                        <li><img src="../static/images/lts-2.png"></li>
                        <li><b>LTS란?</b> Lyrics To Speech의 줄임말로, 가사를 보지 않고도 노래방을 즐길 수 있는 <b>“읽어주는 노래방”</b> 서비스입니다.</li>
                    </ul>
                    <p class="playlist-title">*LTS곡은 크롬(Chrome) 브라우저 확장 프로그램을 설치하셔야 재생할 수 있습니다.</p>
                </div>
                <div class="playlist-chart">
                    <ul class="playlist-chart-top">
                        <li class="pct1">
                            <input type="checkbox" class="pick-check">
                        </li>
                        <li class="pct2">순위</li>
                        <li class="pct3">곡번호</li>
                        <li class="pct4">곡명</li>
                        <li class="pct5">아티스트</li>
                        <li class="pct6">작곡가</li>
                        <li class="pct7">작사가</li>
                        <li class="pct8">출시일</li>
                        <li class="pct9">좋아요</li>
                        <li class="pct10">애창곡</li>
                        <li class="pct11">PICK</li>
                    </ul>
                    <ul class="playlist-chart-down">
                        <li class="pcd1">
                            <input type="checkbox" class="pick-check">
                        </li>
                        <li class="pcd2">1</li>
                        <li class="pcd3">28707</li>
                        <li class="pcd4">사건의 지평선</li>
                        <li class="pcd5">윤하</li>
                        <li class="pcd6">윤하,JEWNO</li>
                        <li class="pcd7">윤하</li>
                        <li class="pcd8">2022.05.01</li>
                        <li class="pcd9">
                            <a href="#">
                                <img src="../static/images/lts-2.png">
                            </a>
                        </li>
                        <li class="pcd10">
                            <a href="#">
                                <img src="../static/images/chart_mic.png">
                            </a>
                        </li>
                        <li class="pcd11">
                            <a href="#">
                                <img src="../static/images/plus.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="playlist-chart-down">
                        <li class="pcd1">
                            <input type="checkbox" class="pick-check">
                        </li>
                        <li class="pcd2">2</li>
                        <li class="pcd3">28707</li>
                        <li class="pcd4">사건의 지평선</li>
                        <li class="pcd5">윤하</li>
                        <li class="pcd6">윤하,JEWNO</li>
                        <li class="pcd7">윤하</li>
                        <li class="pcd8">2022.05.01</li>
                        <li class="pcd9">
                            <a href="#">
                                <img src="../static/images/lts-2.png">
                            </a>
                        </li>
                        <li class="pcd10">
                            <a href="#">
                                <img src="../static/images/chart_mic.png">
                            </a>
                        </li>
                        <li class="pcd11">
                            <a href="#">
                                <img src="../static/images/plus.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>

        <footer>
            <div class="footer-wrap">
                <div class="footer-top">
                    <ul>
                        <a href="#">
                            <li>반주곡신청</li>
                        </a>
                        <a href="#">
                            <li>고객센터</li>
                        </a>
                        <a href="#">
                            <li>원격제어</li>
                        </a>
                        <a href="#">
                            <li>이용약관</li>
                        </a>
                        <a href="#">
                            <li>개인정보 취급방침</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom-left">
                        <ul class="fbl-infor">
                            <li>사업자번호 : 221-88-00319 통신판매업신고 : 제 2019-서울용산-0025 호</li>
                            <li>주소 : 서울시 용산구 한강대로 31(한강대로31, 40-17)</li>
                            <li>팩스 : 02-6390-2554 고객지원센터 : 02-6390-2550</li>
                            <li>EMAIL : jmchoi@kyentertainment.kr</li>
                        </ul>
                        <p>KYSing 웹사이트 내에서의 이메일 무단 수집을 거부합니다.</p>
                        <p>Copyright ⓒ 2020 금영엔터테인먼트 CO.,LTD.</p>
                    </div>
                    <div class="footer-bottom-right">
                        <div class="fbr-logo">
                            <img src="../static/images/f_logo.png">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>